<li>
    <span class="text">message:  <%= message.text%></span>
    <div class="messageDiv">
        <span> <%= message.username %></span>
        <div>
            <a href='/open/<%= id %>'>open</a>
            <a href='/delete/<%= id %>'>delete</a>
        </div>
    </div>

</li> 
