
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <h1>Send a Message</h1>
        <div class="formDiv">
            <form method="POST" action="/new">
                <label for="authorName">Author Name</label>
                <input type="text" name="authorName" id="authorName">
                <label for="message">Message</label>
                <input type="text" name="message">
                <button type="submit">Submit</button>
             </form>
        </div>
    </div>
     
    
</body>
</html>